*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}
    



h1{
     margin-top: 2vw;
    color: black;
    text-align: center;
}

#container{
    
    height: 33vw;
    width: 33vw;
    border: 3px solid black;
    margin: 4vw auto;
    display: grid;
    grid-template-rows: repeat(14,1fr);
    grid-template-columns: repeat(12,1fr);
    background-color: grey;
}
.screen{
    grid-row: 2/4;
    grid-column: 2/12;
    border: 3px solid black
    ;
    border-radius: 10px;
    background-color: rgb(31, 30, 30);
    font-size: 3vw;
    color: white;
    

  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

  text-align: end ;
    
}

.btn1{
    grid-row: 5/6 ;
    grid-column:2/3 ;

}

.btn2{
    grid-row:5/6  ;
    grid-column:5/6 ;
}

.btn3{
    grid-row:5/6  ;
    grid-column:8/9 ;
}

.btn4{
    grid-row: 5/6 ;
    grid-column:11/12 ;
}

.btn5{
    grid-row: 7/8 ;
    grid-column:2/3 ;
}

.btn6{
    grid-row: 7/8 ;
    grid-column:5/6 ;
}

.btn7{
    grid-row:7/8  ;
    grid-column:8/9 ;
}

.btn8{
    grid-row: 7/8 ;
    grid-column:11/12 ;
}

.btn9{
    grid-row:9/10  ;
    grid-column:2/3 ;
}

.btn10{
    grid-row: 9/10 ;
    grid-column:5/6 ;
}

.btn11{
    grid-row:9/10  ;
    grid-column:8/9 ;
}

.btn12{
    grid-row: 9/10 ;
    grid-column:11/12 ;
}

.btn13{
    grid-row: 11/12 ;
    grid-column:2/3 ;
}

.btn14{
    grid-row: 11/12 ;
    grid-column:5/6 ;
}

.btn15{
    grid-row: 11/12 ;
    grid-column:8/9 ;
}

.btn16{
    grid-row: 11/12 ;
    grid-column:11/12 ;
}

.btn17{
    grid-row: 13/14 ;
    grid-column:2/3 ;
}

.btn18{
    grid-row:13/14  ;
    grid-column:5/6 ;
}

.btn19{
    grid-row: 13/14 ;
    grid-column: 8/9;
}

.btn20{
    grid-row:13/14  ;
    grid-column: 11/12;
}

.style{
    transform: scale(1.5);
    border: 1px solid rgb(31, 30, 30);
    border-radius: 5px;
    color: white;
    background-color: rgb(31, 30, 30);
}